//div.floating-cart{
//  position:relative;
//  top:0;
//  left:0;
//  width:315px;
//  height:480px;
//  background:#fff;
//  z-index:200;
//  overflow:hidden;
//  box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
//  display:none;
//}
//
//div.floating-cart .stats-container{display:none;}
//div.floating-cart .bb-product-item{width:100%; top:0; left:0;}
//div.floating-cart.moveToCart{
//  left: 75px !important;
//  top: 55px !important;
//  width: 47px;
//  height: 47px;
//  -webkit-transition: all 800ms ease-in-out;
//  -moz-transition: all 800ms ease-in-out;
//  -ms-transition: all 800ms ease-in-out;
//  -o-transition: all 800ms ease-in-out;
//  transition: all 800ms ease-in-out;
//}
//body.MakeFloatingCart div.floating-cart.moveToCart{
//  left: 90px !important;
//  top: 140px !important;
//  width: 21px;
//  height: 22px;
//  box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0);
//  -webkit-transition: all 200ms ease-out;
//  -moz-transition: all 200ms ease-out;
//  -ms-transition: all 200ms ease-out;
//  -o-transition: all 200ms ease-out;
//  transition: all 200ms ease-out;
//}
//.cart-item{
//  padding: 11px 0 5px 110px;
//  height: 62px;
//  width: 210px;
//  margin-left: -45px;
//  position:relative;
//  background:#fff;
//  -webkit-transition: all 1000ms ease-out;
//  -moz-transition: all 1000ms ease-out;
//  -ms-transition: all 1000ms ease-out;
//  -o-transition: all 1000ms ease-out;
//  transition: all 1000ms ease-out;
//  display: none;
//}

.loader-custom {
  background-color: #0000001c !important;
  z-index: 9999 !important;
}

.page-loader.soria-manual.soria-loading-plugin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1025px) {
  header .tt-cart .tt-dropdown-menu, header .tt-account .tt-dropdown-menu, header .tt-multi-obj .tt-dropdown-menu {
    width: 600px;
  }
}

header .tt-cart .tt-cart-layout .tt-cart-content .tt-cart-list .tt-item {
  border-bottom: 1px solid #e9e7e7;
  padding-bottom: 15px;
}

header .tt-cart .tt-cart-layout .tt-cart-content .tt-cart-list .tt-item:last-child {
  border-bottom: none;
  padding-bottom: unset;
}

header .tt-cart .tt-cart-layout .tt-cart-content .tt-cart-btn .btn {
  width: 50%;
}

@media (min-width: 790px) {
  .cart-table-subtotal-product {
    width: 120px !important;
  }
}

.tt-shopcart-table.tt-list-overview-products table td:nth-child(2) {
  width: unset;
  padding: 20px 0 20px 10px;
}

.tt-shopcart-table.tt-list-overview-products .tt-title a {
  color: #2498FF;
}

.tt-price.cart-table-total-price {
  margin-left: 24px;
  color: #EE2247;
  margin-right: 0 !important;
}

.title-total-list {
  color: black;
  font-weight: 800;
}

.tt-shopcart-table.tt-list-overview-products tr.row-total {
  border-bottom: none !important;
}

.tt-shopcart-table.tt-list-overview-products {
  border: 1px solid #ddd;
  padding: 0 10px;

  .over-list {
    padding: 10px;
    font-size: 15px;
    line-height: 31px;
    color: #6F6F6F;
    font-weight: 500;

    .edit-cart-btn {
      float: right;

      .edit-cart-button {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
      }

      .title-edit-cart-btn {
        margin-left: 5px;
        font-size: 15px;
      }

      .icon-edit-custom {
        bottom: 2px;
        position: relative;
      }
    }
  }
}

.custom-col {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.address-account-form {
  border: 1px solid #f25a94;
  padding: 20px;
}

.custom-select2 .select2-container .select2-selection--single {
  height: 38px !important;
  padding: 6px 0 !important;
}

.custom-select2 .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px !important;
}

.has-error {
  .form-control {
    border: 1px solid #ef5350;
  }

  ul.validate-error {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
    color: #ef5350;
  }

  .select2-selection {
    border: 1px solid #ef5350;
  }
}

.card-address.card-custom {
  margin-bottom: 20px;

  .card-header {
    background: #f7f8fa;
    color: #333;
    font-weight: 600;
    padding: 10px 15px 5px 15px;
  }

  .card-body {
    padding: 15px;

    .card-text.phone {
      margin: 0 0 5px 0;
      .phone {
        margin-bottom: 10px;
      }
    }
  }

  .card-action {
    margin-right: 10px;
  }

}

.border-dashed-custom {
  border: 2px dashed #f15c95;
}

.title-custom {
  color: #333;
  font-weight: 600;
}

.btn-custom-shop {
  padding: 5px 15px !important;
  border: 1px solid #ccc;
  outline-color: #ccc;
}

.btn-edit-shop {
  color: #333;
  background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f7f7f7));
  background: linear-gradient(#fff,#f7f7f7);
}

.btn-black-custom {
  background: #555649 !important;
  &:hover {
    background: rgba(234,30,99,0.75) !important;
  }
}

.status-address {
  max-width: 100px;
  float: right;
  padding: 5px 10px 3px 10px;
}

.title-address {
  width: calc(100% - 100px);
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.action-address-shipping-area {
  color: #333;
  font-weight: 500;
}

.btn-cancel-custom {
    background: white;
    color: black;
    border: 1px solid #ddd;
    margin-right: 10px;
}