/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.idea/workspace.xml
.idea
.idea
.idea
resources/assets/backend/ModernAdmin/app-assets/images/logo/.DS_Store
resources/assets/backend/ModernAdmin/app-assets/js/core/.DS_Store
resources/assets/backend/ModernAdmin/app-assets/js/.DS_Store
resources/assets/backend/ModernAdmin/app-assets/vendors/css/pages/.DS_Store
resources/assets/backend/ModernAdmin/app-assets/vendors/css/.DS_Store
resources/assets/backend/ModernAdmin/app-assets/vendors/js/pages/.DS_Store
resources/assets/backend/ModernAdmin/app-assets/vendors/js/.DS_Store
resources/assets/backend/ModernAdmin/app-assets/vendors/.DS_Store
resources/assets/backend/ModernAdmin/app-assets/.DS_Store
resources/assets/backend/ModernAdmin/.DS_Store
resources/assets/backend/.DS_Store
*/*/.DS_Store
*/.DS_Store
.DS_Store
.idea
.idea/workspace.xml
.idea
public
workspace.xml
drsori.iml