.row-search-form {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.btn-switch-mode {
  cursor: pointer;
}
.view-mode-custom {
  &>label {
    margin-bottom: 0.5rem !important;
  }
  &>input, &>select, &>textarea {
    border: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: inherit !important;
    resize: none !important;
    -webkit-appearance: none !important;
    height: fit-content !important;
  }
}