//$bb-base-font-name: 'Open Sans', sans-serif;
$bb-base-font-name: 'Montserrat', sans-serif;
$bb-screen-size-xl: 1200px;
$bb-screen-size-lg: 992px;
$bb-screen-size-md: 768px;
$bb-screen-size-sm: 544px;
$bb-screen-size-xs: 320px;
$bb-icon-font-name: "LineAwesome";
$bb-default-border-radius: 2px;
$bb-default-font-size: 13px;
$sidebar-width: 260px;
$sidebar-compact-width: 71px;
$sidebar-fixed-width: 259px;
$sidebar-iconbar-width: 129px;
$sidebar-iconbar-compact-width: 149px;

$bb-sidebar-width: 260px;
$bb-sidebar-compact-width: 71px;
$bb-sidebar-fixed-width: 259px;
$bb-sidebar-iconbar-width: 129px;
$bb-sidebar-iconbar-compact-width: 149px;

$bb-default-border-radius: 2px;
