.bb-img-feature-custom {
  max-height: 380px !important;
  width: auto !important;
}

.short-description-author {
  p {
    margin-bottom: 0px !important;
    color: black;
  }

  h6 {
    color: #f66536;
    margin-top: 10px;
  }
}

.short-description-author.sidebar-menu {
  margin-top: 20px;
  margin-bottom: 20px;

  h6 {
    margin-top: 10px;
    font-weight: 400;
    color: #f66536;
  }
}

.post-card-thumbnail-custom {
  height: 220px;
  display: inline-block;

  img {
    height: 100% !important;
  }
}

.post-thumbnail-smaill-custom {
  height: 100px;
  img {
    height: 100% !important;
  }
}

.bb-site-header-custom.site_header_image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}