/* -------------------------------------------------------
                   typography
-------------------------------------------------------- */
.bb-content-format {
	font-weight: $paragraph-base-font-weight;
	font-size: $font-size-base;
	line-height: $paragraph-base-line-height;
	color: $paragraph-content-color;
	font-family: $paragraph-base-font;
	margin-bottom: $paragraph-margin-bottom;
	-webkit-font-smoothing: subpixel-antialiased;

	p {
		font-weight: $paragraph-base-font-weight;
		font-size: $font-size-base;
		line-height: $paragraph-base-line-height;
		color: $paragraph-content-color;
		font-family: $paragraph-base-font;
		margin-bottom: $paragraph-margin-bottom;
		-webkit-font-smoothing: subpixel-antialiased;
	}

	h2 {
		border-top: 0;
		padding-top: 5px;
		font-family: $paragraph-base-font;
		font-weight: normal;
		color: #151515;
		font-size: 24px;
		line-height: 22px;
		display: block;
		margin-bottom: 20px;
		position: relative;
	}

	h3 {
		line-height: 20px;
		font-size: 20px;
		margin-bottom: $paragraph-margin-bottom;
		font-family: $paragraph-base-font;
	}

	h4 {
		border-top: 0;
		padding-top: 5px;
		font-family: $paragraph-base-font;
		font-weight: normal;
		color: #151515;
		font-size: 22px;
		line-height: 22px;
		display: block;
		margin-bottom: 20px;
		position: relative;
	}

	ul {
		list-style-type: disc !important;
		margin-block-start: 1em !important;
		margin-block-end: 1em !important;
		margin-inline-start: 0px !important;
		margin-inline-end: 0px !important;
		padding-inline-start: 40px !important;
	}

	li {
		display: list-item !important;
		text-align: -webkit-match-parent !important;
	}
}

.bb-site-header-custom.site_header_image {
	text-transform: capitalize !important;
	font-family: $paragraph-base-font !important;
	font-size: 20px !important;

	.post-categories {
		text-transform: capitalize !important;
		font-family: $paragraph-base-font !important;
		font-size: 20px !important;
	}

	h1 {
		position: relative;
		color: #fff;
		margin: 0 auto;
		max-width: 700px;
		margin-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		font-weight: 500;
		font-size: 47px;
		text-transform: capitalize;
		font-family: $paragraph-base-font !important;
	}

	.post-subtitle-container {
		.post-author {
			text-transform: capitalize !important;
			font-family: $paragraph-base-font !important;
			font-size: 20px !important;
		}
	}
}