/* -------------------------------------------------------
                   typography
-------------------------------------------------------- */
.bb-content-format {
	font-weight: $paragraph-base-font-weight;
	font-size: $font-size-base;
	line-height: $paragraph-base-line-height;
	color: $paragraph-content-color;
	font-family: $paragraph-base-font;
	margin-bottom: $paragraph-margin-bottom;
	-webkit-font-smoothing: subpixel-antialiased;

	p {
		font-weight: $paragraph-base-font-weight;
		font-size: $font-size-base;
		line-height: $paragraph-base-line-height;
		color: $paragraph-content-color;
		font-family: $paragraph-base-font;
		margin-bottom: $paragraph-margin-bottom;
		-webkit-font-smoothing: subpixel-antialiased;
	}

	h2 {
		border-top: 0;
		padding-top: 5px;
		font-family: $paragraph-base-font;
		font-weight: 600;
		color: #151515;
		font-size: $font-size-h2;
		line-height: $paragraph-base-line-height;
		margin-bottom: $paragraph-margin-bottom;
	}

	h3 {
		font-weight: 600;
		line-height: $paragraph-base-line-height;
		font-size: $font-size-h3;
		margin-bottom: $paragraph-margin-bottom;
		font-family: $paragraph-base-font;
	}

	h4 {
		border-top: 0;
		padding-top: 5px;
		font-family: $paragraph-base-font;
		font-weight: 600;
		color: #151515;
		font-size: $font-size-h4;
		line-height: $paragraph-base-line-height;
		margin-bottom: $paragraph-margin-bottom;
	}

	ul {
		list-style-type: disc !important;
		margin-block-start: 1em !important;
		margin-block-end: 1em !important;
		margin-inline-start: 0px !important;
		margin-inline-end: 0px !important;
		padding-inline-start: 40px !important;
	}


	h5 {
		font-weight: 600;
		line-height: $paragraph-base-line-height;
		font-size: $font-size-h5;
		margin-bottom: $paragraph-margin-bottom;
		font-family: $paragraph-base-font;
	}


	h6 {
		font-weight: 600;
		line-height: $paragraph-base-line-height;
		font-size: $font-size-h6;
		margin-bottom: $paragraph-margin-bottom;
		font-family: $paragraph-base-font;
	}

	li {
		display: list-item !important;
		text-align: -webkit-match-parent !important;
	}

	span {
		font-weight: 500;
		font-size: 17px !important;
		line-height: $paragraph-base-line-height;
		color: #222;
		font-family: $paragraph-base-font;
		-webkit-font-smoothing: subpixel-antialiased;
	}

	figcaption {
		background: #F2F2F2;
		opacity: 0.8;
		padding: 0 30px;
		margin-top: 5px;
		font-weight: 600;
		text-align: center;
	}

	blockquote {
		position: relative;
		font-family: $heading-font;
		font-style: italic;
		text-align: left;
		font-size: 16px;
		color: #444;
		line-height: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 15px;
		padding: 30px 0px 30px 30px;
		border-left: 2px solid #f4f4f4;

		p {
			margin-bottom: 0;
		}

		&:before {
			content: "";
			background: url(../../img/quote-icon.png);
			position: absolute;
			top: 5px;
			left: 20px;
			z-index: 2;
			width: 22px;
			height: 17px;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.bb-site-header-custom.site_header_image {
	text-transform: capitalize !important;
	font-family: $paragraph-base-font !important;
	font-size: 20px !important;

	.post-categories {
		text-transform: capitalize !important;
		font-family: $paragraph-base-font !important;
		font-size: 20px !important;
	}

	h1 {
		position: relative;
		color: #fff;
		margin: 0 auto;
		max-width: 700px;
		margin-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		font-weight: 500;
		font-size: $font-size-h1;
		text-transform: capitalize;
		font-family: $paragraph-base-font !important;
	}

	.post-subtitle-container {
		.post-author {
			text-transform: capitalize !important;
			font-family: $paragraph-base-font !important;
			font-size: 20px !important;
		}
	}
}