/* -------------------------------------------------------
                   Variables
-------------------------------------------------------- */

//-------------------- Base Colors --------------------//
$paragraph-base-color:                   #3f3f3f;
$paragraph-content-color:                #222;


//-------------------- Line Height Variables --------------------//
$paragraph-base-line-height:           1.5;

//-------------------- width Variables --------------------//
$margin-base:                   0 0 10px;
$paragraph-margin-bottom:       25px;

//-------------------- Font Families --------------------//
$paragraph-base-font:                     "Times New Roman",Georgia,Serif;


//-------------------- Font Sizes --------------------//
$font-size-base:                17px;
$font-size-h1:                  55px;
$font-size-h2:                  21px;
$font-size-h3:                  20px;
$font-size-h4:                  19px;
$font-size-h5:                  18px;
$font-size-h6:                  17px;
$menu-size:                     12px;

//-------------------- Font Weight --------------------//
$paragraph-base-font-weight:         500;

//-------------------- Font Families --------------------//
$body-font:                     "Times New Roman",Georgia,Serif;
$heading-font:                  "Times New Roman",Georgia,Serif;
$secondary-font:                'Cormorant', serif;