@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);/*
1. Menu
2. Common
3. Helper
4. Bootstrap Reset
5. Waves Effect
6. Card
7. Buttons
8. Ribbons
9. Popovers and Tooltips
10. Checkbox & Radio
11. Alerts
12. Modal
13. Spinners
14. Widgets
15. Tabs
16. Progress
17. Sweet Alert
18. Charts
19. Email
20. Form Elements
21. Form Advanced
22. Form Validation
23. Form Pickers
24. Form Wizard
25. Summernote
26. Wysiwig
27. Form Uploads
28. Tables
29. Maps
30. Calendar
31. Tickets
32. taskboards
33. Projects
34. Companies
35. File Manager
36. Timeline
37. Profile
38. Print
39. FAQ
40. Pricing
41. Account-Pages
42. Search Results
43. Gallery
44. Coming Soon
45. Responsive
*/

/* =============
   Buttons
============= */

.btn {
  border-radius: 2px;
  font-size: 14px;
  outline: none !important;
  padding: .375rem 1.1rem;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: .2rem .8rem;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: .7rem 1.6rem;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

.dropdown-toggle-split {
  padding-right: .5625rem;
  padding-left: .5625rem;
}

.dropleft .dropdown-toggle-split {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-custom,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn-purple,
.btn-pink {
  color: #ffffff !important;
}

.btn-custom {
  background-color: #02c0ce;
  border-color: #02c0ce;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
  background-color: #02a8b5;
  border: 1px solid #02a8b5;
}

.btn-custom.focus,
.btn-custom:focus,
.btn-outline-custom.focus,
.btn-outline-custom:focus,
.btn-custom:not([disabled]):not(.disabled).active,
.btn-custom:not([disabled]):not(.disabled):active,
.show > .btn-custom.dropdown-toggle {
  -webkit-box-shadow: 0 0 0 2px rgba(2, 192, 206, 0.5);
          box-shadow: 0 0 0 2px rgba(2, 192, 206, 0.5);
}

.btn-primary {
  background-color: #2d7bf4;
  border: 1px solid #2d7bf4;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #156cf3;
  border-color: #156cf3;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:not([disabled]):not(.disabled).active:focus,
.btn-primary:not([disabled]):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(45, 123, 244, 0.5);
          box-shadow: 0 0 0 2px rgba(45, 123, 244, 0.5);
}

.btn-secondary {
  background-color: #9a9a9a;
  border-color: #9a9a9a;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary {
  background-color: #8d8d8d;
  border-color: #8d8d8d;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(121, 121, 121, 0.5);
          box-shadow: 0 0 0 2px rgba(121, 121, 121, 0.5);
}

.btn-light {
  border-color: #e3eaef;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.focus,
.btn-light:active,
.btn-light:focus,
.btn-light:hover,
.open > .dropdown-toggle.btn-light {
  border-color: #bfbfbf;
}

.btn-light.focus,
.btn-light:focus,
.btn-outline-light.focus,
.btn-outline-light:focus {
  -webkit-box-shadow: 0 0 0 2px #d9d9d9;
          box-shadow: 0 0 0 2px #d9d9d9;
}

.btn-success {
  background-color: #0acf97;
  border: 1px solid #0acf97;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success,
.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  background-color: #09b785;
  border-color: #09b785;
}

.btn-success.focus,
.btn-success:focus,
.btn-outline-success.focus,
.btn-outline-success:focus,
.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.show > .btn-success.dropdown-toggle,
.btn-success:not([disabled]):not(.disabled).active:focus,
.btn-success:not([disabled]):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(10, 207, 151, 0.5);
          box-shadow: 0 0 0 2px rgba(10, 207, 151, 0.5);
}

.btn-info {
  background-color: #4eb7eb;
  border: 1px solid #4eb7eb;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info,
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  background-color: #37aee8;
  border-color: #37aee8;
}

.btn-info.focus,
.btn-info:focus,
.btn-outline-info.focus,
.btn-outline-info:focus,
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.show > .btn-info.dropdown-toggle,
.btn-info:not([disabled]):not(.disabled).active:focus,
.btn-info:not([disabled]):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(78, 183, 235, 0.5);
          box-shadow: 0 0 0 2px rgba(78, 183, 235, 0.5);
}

.btn-warning {
  background-color: #f9bc0b;
  border: 1px solid #f9bc0b;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning,
.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  background-color: #e5ac06;
  border-color: #e5ac06;
}

.btn-warning.focus,
.btn-warning:focus,
.btn-outline-warning.focus,
.btn-outline-warning:focus,
.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active,
.show > .btn-warning.dropdown-toggle,
.btn-warning:not([disabled]):not(.disabled).active:focus,
.btn-warning:not([disabled]):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(249, 188, 11, 0.5);
          box-shadow: 0 0 0 2px rgba(249, 188, 11, 0.5);
}

.btn-danger {
  background-color: #f1556c;
  border: 1px solid #f1556c;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger,
.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  background-color: #ef3d58;
  border-color: #ef3d58;
}

.btn-danger.focus,
.btn-danger:focus,
.btn-outline-danger.focus,
.btn-outline-danger:focus,
.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.show > .btn-danger.dropdown-toggle,
.btn-danger:not([disabled]):not(.disabled).active:focus,
.btn-danger:not([disabled]):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(241, 85, 108, 0.5);
          box-shadow: 0 0 0 2px rgba(241, 85, 108, 0.5);
}

.btn-dark {
  background-color: #313a46;
  border: 1px solid #313a46;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.open > .dropdown-toggle.btn-dark {
  background-color: #272e37;
  border-color: #272e37;
}

.btn-dark.focus,
.btn-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus,
.btn-dark:not([disabled]):not(.disabled).active,
.btn-dark:not([disabled]):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
  -webkit-box-shadow: 0 0 0 2px rgba(49, 58, 70, 0.5);
          box-shadow: 0 0 0 2px rgba(49, 58, 70, 0.5);
}

.btn-purple {
  background-color: #777edd;
  border: 1px solid #777edd;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  background-color: #636bd8;
  border-color: #636bd8;
}

.btn-purple.focus,
.btn-purple:focus,
.btn-outline-purple.focus,
.btn-outline-purple:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(119, 126, 221, 0.5);
          box-shadow: 0 0 0 2px rgba(119, 126, 221, 0.5);
}

.btn-pink {
  background-color: #ff679b;
  border: 1px solid #ff679b;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
  background-color: #ff4e8a;
  border-color: #ff4e8a;
}

.btn-pink.focus,
.btn-pink:focus,
.btn-outline-pink.focus,
.btn-outline-pink:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 103, 155, 0.5);
          box-shadow: 0 0 0 2px rgba(255, 103, 155, 0.5);
}

/* button Outline */

.btn-outline-custom {
  color: #02c0ce;
  border-color: #02c0ce;
  background-image: none;
  background-color: transparent;
}

.btn-outline-custom:hover {
  background-color: #02c0ce;
  border-color: #02c0ce;
  color: #ffffff;
}

.btn-outline-primary {
  color: #2d7bf4;
  border-color: #2d7bf4;
}

.btn-outline-primary:hover {
  background-color: #2d7bf4;
  border-color: #2d7bf4;
}

.btn-outline-success {
  color: #0acf97;
  border-color: #0acf97;
}

.btn-outline-success:hover {
  background-color: #0acf97;
  border-color: #0acf97;
}

.btn-outline-info {
  color: #4eb7eb;
  border-color: #4eb7eb;
}

.btn-outline-info:hover {
  background-color: #4eb7eb;
  border-color: #4eb7eb;
}

.btn-outline-warning {
  color: #f9bc0b;
  border-color: #f9bc0b;
}

.btn-outline-warning:hover {
  background-color: #f9bc0b;
  border-color: #f9bc0b;
}

.btn-outline-danger {
  color: #f1556c;
  border-color: #f1556c;
}

.btn-outline-danger:hover {
  background-color: #f1556c;
  border-color: #f1556c;
}

.btn-outline-dark {
  color: #313a46;
  border-color: #313a46;
}

.btn-outline-dark:hover {
  background-color: #313a46;
  border-color: #313a46;
}

.btn-outline-pink {
  color: #ff679b;
  background-image: none;
  background-color: transparent;
  border-color: #ff679b;
}

.btn-outline-pink:hover {
  background-color: #ff679b;
  border-color: #ff679b;
  color: #ffffff;
}

.btn-outline-purple {
  color: #777edd;
  background-image: none;
  background-color: transparent;
  border-color: #777edd;
}

.btn-outline-purple:hover {
  background-color: #777edd;
  border-color: #777edd;
  color: #ffffff;
}

.btn-rounded {
  border-radius: 2em;
}

/* Social Buttons */

.btn-facebook {
  color: #ffffff !important;
  background-color: #3b5998;
}

.btn-twitter {
  color: #ffffff !important;
  background-color: #00aced;
}

.btn-linkedin {
  color: #ffffff !important;
  background-color: #007bb6;
}

.btn-dribbble {
  color: #ffffff !important;
  background-color: #ea4c89;
}

.btn-googleplus {
  color: #ffffff !important;
  background-color: #dd4b39;
}

.btn-instagram {
  color: #ffffff !important;
  background-color: #517fa4;
}

.btn-pinterest {
  color: #ffffff !important;
  background-color: #cb2027;
}

.btn-dropbox {
  color: #ffffff !important;
  background-color: #007ee5;
}

.btn-flickr {
  color: #ffffff !important;
  background-color: #ff0084;
}

.btn-tumblr {
  color: #ffffff !important;
  background-color: #32506d;
}

.btn-skype {
  color: #ffffff !important;
  background-color: #00aff0;
}

.btn-youtube {
  color: #ffffff !important;
  background-color: #bb0000;
}

.btn-github {
  color: #ffffff !important;
  background-color: #171515;
}

.btn-action {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 12px;
  padding: 0;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  color: #FFF;
  cursor: pointer;
  border: 2px solid #f9f9f9;
  -webkit-box-shadow: 0px 0px 4px #d6d6d6;
          box-shadow: 0px 0px 4px #d6d6d6;
  margin-right: 5px;
}

.btn-action[data-action="del"] {
  background-color: #f1556b;
}

.btn-action.btn-action[data-action="add"] {
  background-color: #0acf97;
}

.btn-trash {
  border-radius: 50%;
  background-color: transparent;
  width: 30px;
  border: 1px solid #f1556b;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #f1556b;
}

.btn-trash:hover {
  background-color: #f1556bba;
  color: #FFF;
}

.button-label > i {
  margin-right: 8px;
}

/* =================
   Ribbons
==================== */

.ribbon-box {
  position: relative;
  /* Ribbon two */
}

.ribbon-box .ribbon {
  position: relative;
  float: left;
  clear: both;
  padding: 5px 12px 5px 12px;
  margin-left: -30px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
  -webkit-box-shadow: 2px 5px 10px rgba(49, 58, 70, 0.15);
  -o-box-shadow: 2px 5px 10px rgba(49, 58, 70, 0.15);
  box-shadow: 2px 5px 10px rgba(49, 58, 70, 0.15);
  color: #ffffff;
  font-size: 13px;
}

.ribbon-box .ribbon:before {
  content: " ";
  border-style: solid;
  border-width: 10px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  margin-bottom: -10px;
  z-index: -1;
}

.ribbon-box .ribbon + p {
  clear: both;
}

.ribbon-box .ribbon-custom {
  background: #02c0ce;
}

.ribbon-box .ribbon-custom:before {
  border-color: #02919b transparent transparent;
}

.ribbon-box .ribbon-primary {
  background: #2d7bf4;
}

.ribbon-box .ribbon-primary:before {
  border-color: #0c60e2 transparent transparent;
}

.ribbon-box .ribbon-success {
  background: #0acf97;
}

.ribbon-box .ribbon-success:before {
  border-color: #089e74 transparent transparent;
}

.ribbon-box .ribbon-info {
  background: #4eb7eb;
}

.ribbon-box .ribbon-info:before {
  border-color: #20a4e6 transparent transparent;
}

.ribbon-box .ribbon-warning {
  background: #f9bc0b;
}

.ribbon-box .ribbon-warning:before {
  border-color: #cc9905 transparent transparent;
}

.ribbon-box .ribbon-danger {
  background: #f1556c;
}

.ribbon-box .ribbon-danger:before {
  border-color: #ed2643 transparent transparent;
}

.ribbon-box .ribbon-pink {
  background: #ff679b;
}

.ribbon-box .ribbon-pink:before {
  border-color: #ff3479 transparent transparent;
}

.ribbon-box .ribbon-purple {
  background: #777edd;
}

.ribbon-box .ribbon-purple:before {
  border-color: #4e57d3 transparent transparent;
}

.ribbon-box .ribbon-dark {
  background: #313a46;
}

.ribbon-box .ribbon-dark:before {
  border-color: #1c2128 transparent transparent;
}

.ribbon-box .ribbon-two {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon-box .ribbon-two span {
  font-size: 13px;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  position: absolute;
  top: 19px;
  left: -21px;
}

.ribbon-box .ribbon-two span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon-box .ribbon-two span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon-box .ribbon-two-custom span {
  background: #02c0ce;
}

.ribbon-box .ribbon-two-custom span:before {
  border-left: 3px solid #017982;
  border-top: 3px solid #017982;
}

.ribbon-box .ribbon-two-custom span:after {
  border-right: 3px solid #017982;
  border-top: 3px solid #017982;
}

.ribbon-box .ribbon-two-primary span {
  background: #2d7bf4;
}

.ribbon-box .ribbon-two-primary span:before {
  border-left: 3px solid #0b56ca;
  border-top: 3px solid #0b56ca;
}

.ribbon-box .ribbon-two-primary span:after {
  border-right: 3px solid #0b56ca;
  border-top: 3px solid #0b56ca;
}

.ribbon-box .ribbon-two-success span {
  background: #0acf97;
}

.ribbon-box .ribbon-two-success span:before {
  border-left: 3px solid #068662;
  border-top: 3px solid #068662;
}

.ribbon-box .ribbon-two-success span:after {
  border-right: 3px solid #068662;
  border-top: 3px solid #068662;
}

.ribbon-box .ribbon-two-info span {
  background: #4eb7eb;
}

.ribbon-box .ribbon-two-info span:before {
  border-left: 3px solid #1896d4;
  border-top: 3px solid #1896d4;
}

.ribbon-box .ribbon-two-info span:after {
  border-right: 3px solid #1896d4;
  border-top: 3px solid #1896d4;
}

.ribbon-box .ribbon-two-warning span {
  background: #f9bc0b;
}

.ribbon-box .ribbon-two-warning span:before {
  border-left: 3px solid #b38604;
  border-top: 3px solid #b38604;
}

.ribbon-box .ribbon-two-warning span:after {
  border-right: 3px solid #b38604;
  border-top: 3px solid #b38604;
}

.ribbon-box .ribbon-two-danger span {
  background: #f1556c;
}

.ribbon-box .ribbon-two-danger span:before {
  border-left: 3px solid #e71332;
  border-top: 3px solid #e71332;
}

.ribbon-box .ribbon-two-danger span:after {
  border-right: 3px solid #e71332;
  border-top: 3px solid #e71332;
}

.ribbon-box .ribbon-two-pink span {
  background: #ff679b;
}

.ribbon-box .ribbon-two-pink span:before {
  border-left: 3px solid #ff1b69;
  border-top: 3px solid #ff1b69;
}

.ribbon-box .ribbon-two-pink span:after {
  border-right: 3px solid #ff1b69;
  border-top: 3px solid #ff1b69;
}

.ribbon-box .ribbon-two-purple span {
  background: #777edd;
}

.ribbon-box .ribbon-two-purple span:before {
  border-left: 3px solid #3a44ce;
  border-top: 3px solid #3a44ce;
}

.ribbon-box .ribbon-two-purple span:after {
  border-right: 3px solid #3a44ce;
  border-top: 3px solid #3a44ce;
}

.ribbon-box .ribbon-two-dark span {
  background: #313a46;
}

.ribbon-box .ribbon-two-dark span:before {
  border-left: 3px solid #121519;
  border-top: 3px solid #121519;
}

.ribbon-box .ribbon-two-dark span:after {
  border-right: 3px solid #121519;
  border-top: 3px solid #121519;
}

.none-padding {
  padding: 0;
}

.eden-card {
  background: white;
}

.eden-card .ribbon {
  top: 15px;
  left: 19px;
}

.eden-card .content-card {
  padding: 60px 20px 20px 20px;
}

